@import "bootstrap-custom.less";

.content-wrapper {
	.make-row();
}

.content {
    .make-sm-column-offset(1);
    .make-sm-column(8);
    .make-xs-column(11);
    margin-left: 8.333333333333332%;
    margin-bottom: 25px;
}
.content-wide {
	.make-sm-column-offset(1);
    .make-sm-column(10);
    .make-xs-column(11);
    margin-left: 8.333333333333332%;
	margin-bottom: 25px;	
}

body { 
	padding-top: 70px; 
}
.page-header {
	margin: 0;
	h1 {
		padding-left: 30px;
	}
	span {
		padding-left: 30px;
	}
}

footer {
	clear: both;
}

.rss > img {
	width: 20px;
	height: 20px;
	vertical-align: top;
}

aside {
	.make-sm-column(3);
	.hidden-xs;
	padding-right: 40px;
}