@import "bootstrap-custom.less";

body { 
	padding-top: 70px; 
}
.page-header {
	margin: 0;
	h1 {
		padding-left: 30px;
	}
	span {
		padding-left: 30px;
	}
}

footer {
	clear: both;
}

.rss > img {
	width: 20px;
	height: 20px;
	vertical-align: top;
}

aside {
	padding-right: 40px;
}

.content {
	margin-bottom: 25px;
}