<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
        <meta name="author" content="Sean Steimer" />
        {% if site.devmode %}
        <link rel="stylesheet" href="/static/css/shsteimer.css" type="text/css" media="all" />
        {% else %}
        <link rel="stylesheet" href="/static/css/shsteimer.min.css" type="text/css" media="all" />
        {% endif %}
        
        <script type="text/javascript">window._q=[];</script>

        <title>Sorry, Page Not Found (404) | Sean Steimer | shsteimer.com</title>
    </head>
    <body>
        <script>
            //google analytics
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47229011-1', 'shsteimer.com');
            ga('send', 'pageview');
        </script>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/about/index.html">About</a></li> 
                    <li><a href="/archives/index.html">Post Archives</a></li>   
                </ul>
            </div>
        </nav>
        <header class="page-header">
            <h1>Sean Steimer</h1>
            <span>A weblog about stuff.</span>
        </header>
        <div class="content-wrapper">
            <section class="content-wide">
                <p>Sorry, the page you were looking for couldn't be found. </p>
            </section>
        </div>
        <footer class="row well well-sm">
            <div class="col-xs-6 col-sm-8 col-md-10">
                <a class="rss" href="/feed.xml"><img src="/static/img/rss-icon.png" title="RSS Feed" /></a>
                <a href="https://twitter.com/shsteimer" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow Me On Twitter</a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <span id="copyright" class="muted">Copyright &copy; 2014 Sean H. Steimer</span>
            </div>
        </footer>
        <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        {% if site.devmode %}
        <script type="text/javascript" src="/static/js/shsteimer.js"></script>
        {% else %}
        <script type="text/javascript" src="/static/js/shsteimer.min.js"></script>
        {% endif %}
        <script type="text/javascript">shsteimer.init();</script>
        <script>
            //twitter follow button
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
    </body>
<html>