<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse-1">
	    	<span class="sr-only">Toggle navigation</span>
	      	<span class="icon-bar"></span>
	      	<span class="icon-bar"></span>
	      	<span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Home</a>
	</div>
	<div class="collapse navbar-collapse" id="main-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	    	 {% for page in site.pages %}
                {% if page.nav %}
                	<li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
        	{% endfor %}
	      	
	    </ul>
  	</div>
</nav>
<header class="page-header">
  	<h1>Sean Steimer</h1>
  	<span>A weblog about stuff.</span>
</header>