---
layout: default
---
<article class="post">
	<h1 class="title">{{ page.title }}</h1>
	<span class="post-info text-muted">Posted by {{ page.author }} on {{ page.date | date: "%A, %B %-d, %Y" }}</span>
	<div class="post-body">{{ content }}</div>
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments</a></noscript>
</article>

<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'shsteimer'; 
        var disqus_identifier = '{{ page.id }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
</script>